@{
    ViewBag.Title = "TermsConditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-pagetop bg-light">
    <div class="container">
        <h2 class="title-page">Terms and Conditions</h2>
    </div> <!-- container .// -->
</section>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container" style="text-align:justify;">
        <p>
            <b>SBS jodhpur</b>  operates the <b>http://sbsjodhpur.com</b>  webpage, which provides the SERVICEs of selling prints & merchandise.
            This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service.
            If you choose to use our Service, then you agree to the collection and use of information in accordance with this policy. The Personal Information that we collect are used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.
            The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at, unless otherwise defined in this Privacy Policy.
        </p>
        <p>
            <b>Information Collection and Use</b><br />
            In order to provide you with better Service, we may require you to furnish certain personally identifiable information, including but not limited to your name, phone number, and postal address. The information that we collect will be used to contact or identify you.
        </p>
        <p>
            <b>Log Data</b><br />
            We would like to inform you that whenever you visit our Service, we collect information that your browser sends to us. This information is called Log Data. The Log Data may include information such as your computer’s Internet Protocol (“IP”) address, browser version, pages of our Service that you visit, the time and date of your visit, the time spent on those pages, and other statistics.
        </p>

        <p>
            <b>Service Providers</b><br />
            We may employ third-party companies and individuals due to the following reasons:
            <ul>
                <li>To facilitate our Service;</li>
                <li>To provide the Service on our behalf;</li>
                <li>To perform Service-related services; or</li>
                <li>To assist us in analysing how our Service is used.</li>
            </ul>
            <br />
            We would like to inform our Service users that these third parties have access to your Personal Information. This is done so they can perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.
        </p>
        <p>
            <b>Security</b><br />
            We value your trust in providing us your Personal Information, thus we strive to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
        </p>
        <p>
            <b>Links to Other Sites</b><br />
            Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third-party sites or services.
        </p>

        <p>
            <b>Membership</b><br />
            Your SBS jodhpur  membership will continue month-to-month until terminated. To use the SBS jodhpur  service, you must have Internet access, and provide us with one or more Payment Methods. “Payment Method” means a current, valid, accepted method of payment, as may be updated from time to time, and which may include payment through your account with a third party. Unless you cancel your membership before your monthly billing date, you authorize us to charge your next month’s membership fee to your Payment Method (see “Cancellation” below).
            <ul>
                <li>We may offer a number of membership plans, including special promotional plans or memberships offered by third parties in conjunction with the provision of their own products and services. We are not responsible for the products and services provided by such third parties. Some membership plans may have differing conditions and limitations, which will be disclosed at your sign-up or in other communications made available to you. You can find specific details regarding your SBS jodhpur  membership by visiting our website and clicking on the “My Account” link available at the top of the pages of the SBS  website under your profile name.</li>
                <li>First-time Additional discount</li>
                <li>Your SBS jodhpur  membership may start with a First-time additional discount. The First-time additional discount period of your membership lasts for one month, or as otherwise specified during sign-up and is intended to allow new members and certain former members to try the service.</li>
                <li>First-time additional discount eligibility is determined by SBS jodhpur  at its sole discretion and we may limit eligibility. Members of households with an existing or recent SBS jodhpur  membership are not eligible. We may use information such as device ID, method of payment or an account email address used with an existing or recent SBS jodhpur  membership to determine eligibility. For combinations with other offers, restrictions may apply.</li>
                <li>We will charge your Payment Method for your monthly membership fee at the beginning of the first-time additional discount period. To view the monthly membership price and end date of your first-time additional discount period, visit our website, click on ‘My Account’ and then on ‘Subscription’.</li>
            </ul>
        </p>
        <p>
            <b>Billing and Cancellation</b>
            <ul>
                <li><b>Billing Cycle</b> The membership fee for the SBS jodhpur  service and any other charges you may incur in connection with your use of the service, such as taxes and possible transaction fees, will be charged on a monthly basis to your Payment Method on the calendar day corresponding to the commencement of the paying portion of your membership. In some cases, your payment date may change, for example if your Payment Method has not successfully settled or if you paid membership began on a day not contained in a given month. Visit our website and click on the “Billing details” link on the “My Account” page to see your next payment date. We may authorize your Payment Method in anticipation of membership or service-related charges through various methods, including authorizing it up to approximately one month of service as soon as you register.</li>
                <li><b>Payment Methods</b> To use the SBS jodhpur  service, you must provide one or more Payment Methods. You can update your Payment Methods by going to the “Account” page. We may also update your Payment Methods using information provided by the payment service providers. Following any update, you authorize us to continue to charge the applicable Payment Method(s). You authorize us to charge any Payment Method associated to your account in case your primary Payment Method is declined or no longer available to us for payment of your subscription fee. You remain responsible for any uncollected amounts. If a payment is not successfully settled, due to expiration, insufficient funds, or otherwise, and you do not cancel your account, we may suspend your access to the service until we have successfully charged a valid Payment Method. For some Payment Methods, the issuer may charge you certain fees, such as foreign transaction fees or other fees relating to the processing of your Payment Method. Local tax charges may vary depending on the Payment Method used. Check with your Payment Method service provider for details.</li>
                <li><b>Cancellation</b> You can cancel your SBS jodhpur  membership by sending a mail to info@sbsjodhpur.in prior to two days of your next scheduled payment date.</li>
                <li><b>Changes to the Price and Subscription Plans</b> We may change our subscription plans and the price of our service from time to time; however, any price changes or changes to our subscription plans will apply to you no earlier than 30 days following notice to you.</li>
            </ul>
        </p>
        <p>
            <b>SBS jodhpur  Service</b>
            <ul>
                <li>You must be 18 years of age, or the age of majority in your province, territory or country, to become a member of the SBS jodhpur  service. Minors may only use the service under the supervision of an adult.</li>
                <li>The SBS jodhpur  service and any content viewed through the service are for your personal and non-commercial use only and may not be shared with individuals beyond your household. During your SBS jodhpur  membership we grant you a limited, non-exclusive, non-transferable right to access the SBS jodhpur  service and view SBS jodhpur  content. Except for the foregoing, no right, title or interest shall be transferred to you. You agree not to use the service for public performances.</li>
                <li>Some SBS jodhpur  content is available for temporary download and offline viewing on certain supported devices (“Offline Titles”). Limitations apply, including restrictions on the number of Offline Titles per account, the maximum number of devices that can contain Offline Titles, the time period within which you will need to begin viewing Offline Titles and how long the Offline Titles will remain accessible. Some Offline Titles may not be playable in certain countries.</li>
                <li>You agree to use the SBS jodhpur  service, including all features and functionalities associated therewith, in accordance with all applicable laws, rules and regulations, or other restrictions on use of the service or content therein. You agree not to archive, reproduce, distribute, modify, display, perform, publish, license, create derivative works from, offer for sale, or use (except as explicitly authorized in these Terms of Use) content and information contained on or obtained from or through the SBS jodhpur  service. You also agree not to: circumvent, remove, alter, deactivate, degrade or thwart any of the content protections in the SBS jodhpur  service; use any robot, spider, scraper or other automated means to access the SBS jodhpur  service; decompile, reverse engineer or disassemble any software or other products or processes accessible through the SBS jodhpur  service; insert any code or product or manipulate the content of the SBS jodhpur  service in any way; or use any data mining, data gathering or extraction method. In addition, you agree not to upload, post, e-mail or otherwise send or transmit any material designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment associated with the SBS jodhpur  service, including any software viruses or any other computer code, files or programs. We may terminate or restrict your use of our service if you violate these Terms of Use or are engaged in illegal or fraudulent use of the service.</li>
            </ul>
        </p>
        <p>
            <b>Passwords and Account Access</b><br />
            The member who created the SBS jodhpur  account and whose Payment Method is charged (the “Account Owner”) has access and control over the SBS jodhpur  account and the SBS jodhpur  ready devices that are used to access our service and is responsible for any activity that occurs through the SBS jodhpur  account. To maintain control over the account and to prevent anyone from accessing the account (which would include information on viewing history for the account), the Account Owner should maintain control over the SBS jodhpur  ready devices that are used to access the service and not reveal  password or details of the Payment Method associated with the account to anyone. You are responsible for updating and maintaining the accuracy of the information you provide to us relating to your account. We can terminate your account or place your account on hold in order to protect you, SBS jodhpur  or our partners from identity theft or other fraudulent activity.
        </p>
        <p>
            <b>Miscellaneous</b><br />
            <b>Customer Support</b> To find more information about our service and its features or if you need assistance with your account, please visit the SBS jodhpur  Help Center on our website. In certain instances, Customer Service may best be able to assist you by using a remote access support tool through which we have full access to your computer. If you do not want us to have this access, you should not consent to support through the remote access tool, and we will assist you through other means. In the event of any conflict between these Terms of Use and information provided by Customer Support or other portions of our website, these Terms of Use will control.<br />
            <br />
            <b>Survival</b> If any provision or provisions of these Terms of Use shall be held to be invalid, illegal, or unenforceable, the validity, legality and enforceability of the remaining provisions shall remain in full force and effect.<br />
            <br />
            <b>Changes to Terms of Use and Assignment</b> SBS jodhpur  may, from time to time, change these Terms of Use. We will notify you at least 30 days before such changes apply to you. We may assign or transfer our agreement with you including our associated rights and obligations at any time and you agree to cooperate with us in connection with such an assignment or transfer.<br />
            <br />
            <b>Electronic Communications</b> We will send you information relating to your account (e.g. payment authorizations, invoices, status on the shipment, delivery status, changes in password or Payment Method, confirmation messages, notices) in electronic form only, for example via emails to your email address provided during registration.
        </p>
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
