@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/js/Common.js"></script>
<style type="text/css">
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<section class="section-content bg-white padding-y">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1788.7510249067655!2d73.00030629009142!3d26.277819869849793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39418d59ae17ccf1%3A0x5f47315f6ed941c0!2sSarve%20Bhavantu%20Sukhinah!5e0!3m2!1sen!2sin!4v1600333790385!5m2!1sen!2sin" height="450" frameborder="0" style="border:0; width:100%;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
                    <article class="card-body">
                        <header class="mb-4" style="text-align:center;"><h4 class="card-title">Get In Touch</h4></header>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="txtName" placeholder="Full Name *">
                            </div> <!-- form-group end.// -->

                            <div class="form-group">
                                <input type="text" class="form-control" id="txtEmail" placeholder="E-Mail *">
                            </div> <!-- form-group end.// -->
                            <div class="form-group">
                                <input type="text" class="form-control" id="txtMobile" placeholder="Mobile Number *">
                            </div> <!-- form-group end.// -->
                            <div class="form-group">
                                <textarea rows="5" class="form-control" id="txtMsg" placeholder="Your Message *"></textarea>
                            </div>
                            <div class="form-group">
                                <a href="javascript:void(0);" onclick="javascript:SendMail(); return false;" class="btn btn-primary btn-block">
                                    Submit
                                </a>
                            </div> <!-- form-group// -->
                            <!-- form-group end.// -->
                            <div id="alertMsg"></div>
                        </form>
                    </article><!-- card-body.// -->
                </div>
            </div>
        </div>
    </div> <!-- container .//  -->
</section>

<script type="text/javascript">
    var Msg = focusid = "";
    function validate() {
        var flag = false;
        if ($("#txtName").val() == "") {
            Msg = "Full name is required.";
            focusid = "txtName";
            flag = true;
        }
        else if ($("#txtEmail").val() == "") {
            Msg = "Email is required.";
            focusid = "txtEmail";
            flag = true;
        }
        else if ($("#txtMobile").val() == "") {
            Msg = "Mobile number is required.";
            focusid = "txtMobile";
            flag = true;
        }
        else if ($("#txtMsg").val() == "") {
            Msg = "Message is required.";
            focusid = "txtMsg";
            flag = true;
        }
        return flag;
    }

    function SendMail() {
        if (!validate()) {
            $(".btn-primary").html('<i class="fa fa-spinner fa-spin"></i>&nbsp;Sending mail');
            $(".btn-primary").css("pointer-events", "none");
            $(".btn-primary").css("cursor", "no-drop");

            PushData("Name", $("#txtName").val());
            PushData("Email", $("#txtEmail").val());
            PushData("Mobile", $("#txtMobile").val());
            PushData("Message", $("#txtMsg").val());
            CallWebMethod('/Contact/SendMail', WebMethodData, OnPassSendMail, OnFailSendMail);
        }
        else {
            var Shtml = Errorhtml + Msg + Close;
            $("#alertMsg").removeAttr("style");
            $("#alertMsg").html(Shtml);
            setTimeout(function () {
                $('#alertMsg').fadeOut(300, function () { $(this).html(); });
            }, 5000);
            $("#" + focusid + "").focus();
        }
    }

    function OnPassSendMail(res) {
        var Shtml = "";
        var data = res.data;
        data = data.split("|");
        if (data[0] == "S") {
            Shtml = succHtml + "<strong>Success!</strong> Thank you for your response." + Close;
            reset();
        }
        else
            Shtml = Errorhtml + data[1] + Close;

        $("#alertMsg").removeAttr("style");
        $("#alertMsg").html(Shtml);
        setTimeout(function () {
            $('#alertMsg').fadeOut(300, function () { $(this).html(); });
        }, 5000);
        $(".btn-primary").html("Submit");
        $(".btn-primary").css("pointer-events", "all");
        $(".btn-primary").css("cursor", "pointer");
    }

    function OnFailSendMail(res) {
        $(".btn-primary").html("Submit");
    }

    function reset() {
        $("#txtName").val("");
        $("#txtEmail").val("");
        $("#txtMobile").val("");
        $("#txtMsg").val("");
    }
</script>
