@{
    ViewBag.Title = "Cookies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-pagetop bg-light">
    <div class="container">
        <h2 class="title-page">Cookies</h2>
    </div> <!-- container .// -->
</section>
<section class="section-content bg-white padding-y">
    <div class="container" style="text-align:justify;">
        <p>
            <b>Cookies</b> are files with small amount of data that is commonly used as an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer’s hard drive.
            Our website uses these “cookies” to collect information in order to improve our Service. You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer.
            If you choose to refuse our cookies, gb you may not be able to use some portions of our Service.
        </p>
    </div>
</section>
